@media (max-width: 915px){
    #Title{
        text-align: center;
        font-size: 50px;
    }
    #Container{
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
    #Bio{
        font-size: 30px;
        max-width: 600px;
    }
}
@media (max-width: 1120px){
    #Bio{
        max-width: 400px;
        font-size: 18px;
    }
}